{% include "header.html" %}

<div class="text-center" id="locations">
    <div class="container">
        <h1>All Locations</h1>
        <section>
            <h2>
            <i class="fa fa-fw fa-map-marker"></i>
            London
            </h2>
            {% for location in all_locations %}
            <a class="btn btn-default btn-lg" href="{{ url_for('show_location', location_slug=location['slugged-name']) }}">{{ location["name"] }}</a>
            {%endfor%}
            </section>
    </div>
</div>


{% include "footer.html" %}