{% include "header.html" %}

<div id="place">
    <!-- Header -->
    <header id="place-photos">
    <img alt={{cafe.name}} src={{cafe.img_url}}>
    <div class="gradient">
    <div class="container">
    <!-- #star -->
    <!-- = link_to city_place_toggle_favorites_path(@place.city, @place), class: is_favorite(@place), method: :put do -->
    <!-- %i.fa.fa-star.fa-3x -->
    <div id="title">
        <div data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-content="I have not been here yet" data-bs-template="<div class='popover high-border' role='tooltip'><div class='popover-arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" id="score" data-bs-original-title="In general, do you like working from here?">
            <i class="grey far fa-heart" data-color="grey"></i> | {{cafe.score}}% Laptop Friendly
          </div>         
    <h1>{{cafe.name}}</h1>
    </div>
    </div>
    <a id="google-maps-link" title="Open Google Maps" target="_blank" href="{{cafe.map_url}}"><i class="fas fa-map fa-2x"></i>
    </a></div>
    </header>
    <!-- Place details -->
    <section id="details">
    <div class="container">
    <div class="row">
    <div class="col-md-7">
    <!-- Description -->
    <div id="description">
    <h2 class="pb-2">Today</h2>
    <div class="row">
    <div class="col-4">
    <p class="mt-1">
    <i class="fas fa-users"></i>
    Visits:
    2
    <br>
    <i class="fas fa-camera"></i>
    Vibes:
    0
    </p>
    </div>
    <div class="col-8">
    <div class="latest-vibes vibesbox text-end">
    <a class="btn btn-success" style="margin: 0.5rem" href="/vibes/new?city=london&amp;place=arancina">📸</a>
    </div>
    </div>
    </div>
    <script type="text/javascript">
    var lightbox = new SimpleLightbox('.vibesbox a', { overlayColor: 0.9, captionsData: 'titleLightbox' })
    </script>
    
    
    <div class="row" id="been-here">
    <div class="col-md-4 col-lg-3">
    <h2>Been here</h2>
    </div>
    <div class="col-md-8 col-lg-9">
    <div class="criteria">
    <span data-content="Friendly Co-Worker" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" aria-label="Michele Mortari" data-bs-original-title="Michele Mortari">
    <img class="img-circle" src="/static/assets/3346-michele.jpg">
    </span>
    </div>
    </div>
    </div>
    <hr>
    
    <h2>Reviews</h2>
    <a class="btn btn-success leave_review" href="/users/login">Join and leave a review!</a>
    
    <div class="all_reviews">
    <hr>
    <div class="new_review_place">
    <a class="btn btn-success leave_review" href="/users/login">Join and leave a review!</a>
    
    </div>
    </div>
    <a class="black-link see_less_reviews" href="#"><i class="fa fa-fw fa-caret-up"></i>
    See less reviews
    </a></div>
    <hr>
    <div class="row">
    <div class="col-md-4">
    <h2>Productivity</h2>
    </div>
    <div class="col-md-8">
    <div class="row criteria">
    <div class="col-6 criterion" data-content="{{ 'No' if cafe.criterion.wifi == 'low' else 'Yes, but can be unstable or limited' if cafe.criterion.wifi == 'medium' else 'Definitely, it\'s very reliable!' if cafe.criterion.wifi == 'high' else 'Unknown' }}"  data-template="<div class='popover high-border' role='tooltip'><div class='arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-original-title="Is there Wi-Fi?">
    <i class="fa fa-fw fa-wifi"></i>
    Stable Wi-Fi
    <div class="progress">
    <div class="progress-bar {{cafe.criterion.wifi}}">
    <span class="sr-only">{{cafe.criterion.wifi| title}}</span>
    </div>
    </div>
    </div>
    <div class="col-6 criterion" data-content="{{ 'No' if cafe.criterion.sockets == 'low' else 'So-so (10-50% of seats have power sockets)' if cafe.criterion.sockets == 'medium' else 'Definitely! (&gt; 50% of seats have power sockets)' if cafe.criterion.sockets == 'high' else 'Unknown' }}" data-template="<div class='popover high-border' role='tooltip'><div class='arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-original-title="Is it easy to find power sockets?">
    <i class="fa fa-fw fa-plug"></i>
    Power sockets
    <div class="progress">
    <div class="progress-bar {{cafe.criterion.sockets}}">
    <span class="sr-only">{{cafe.criterion.sockets| title}}</span>
    </div>
    </div>
    </div>
    <div class="col-6 criterion" data-content="{{ 'While eating or drinking only' if cafe.criterion.long_stay == 'low' else 'Depends on how busy it gets' if cafe.criterion.long_stay == 'medium' else 'I can stay as long as I want!' if cafe.criterion.long_stay == 'high' else 'Unknown' }}" data-template="<div class='popover high-border' role='tooltip'><div class='arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-original-title="How long can you comfortably stay and work? ">
    <i class="fa fa-fw fa-user-clock"></i>
    Long stays
    <div class="progress">
    <div class="progress-bar {{cafe.criterion.long_stay}}">
    <span class="sr-only">{{cafe.criterion.long_stay| title}}</span>
    </div>
    </div>
    </div>
    <div class="col-6 criterion" data-content="{{ 'No (or very small amount)' if cafe.criterion.tables == 'low' else 'Somewhat / It\'s mixed' if cafe.criterion.tables == 'medium' else 'All tables and chairs are work-friendly!' if cafe.criterion.tables == 'high' else 'Unknown' }}" data-template="<div class='popover high-border' role='tooltip'><div class='arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-original-title="Are tables and chairs comfortable for work?">
    <i class="fa fa-fw fa-pen-square"></i>
    Work-friendly tables
    <div class="progress">
    <div class="progress-bar {{cafe.criterion.tables}}">
    <span class="sr-only">{{cafe.criterion.tables| title}}</span>
    </div>
    </div>
    </div>
    <div class="col-6 criterion" data-content="{{ 'No' if cafe.criterion.quiet == 'low' else 'So-so / Depends' if cafe.criterion.quiet == 'medium' else 'Definitely!' if cafe.criterion.quiet == 'high' else 'Unknown' }}" data-template="<div class='popover high-border' role='tooltip'><div class='arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-original-title="Is it quiet?">
    <i class="fa fa-fw fa-volume-down"></i>
    Quiet
    <div class="progress">
    <div class="progress-bar {{cafe.criterion.quiet}}">
    <span class="sr-only">{{cafe.criterion.quiet| title}}</span>
    </div>
    </div>
    </div>
    <div class="col-6 criterion" data-content="{{ 'No' if cafe.criterion.calls == 'low' else 'Maybe / Depends' if cafe.criterion.calls == 'medium' else 'Definitely!' if cafe.criterion.calls == 'high' else 'Unknown' }}" data-template="<div class='popover high-border' role='tooltip'><div class='arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-original-title="Can you comfortably make audio/video calls?">
    <i class="fa fa-fw fa-headset"></i>
    Video/audio calls
    <div class="progress">
    <div class="progress-bar {{cafe.criterion.calls}}">
    <span class="sr-only">{{cafe.criterion.calls| title}}</span>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    <hr>
    <div class="row">
    <div class="col-md-4">
    <h2>Community</h2>
    </div>
    <div class="col-md-8">
    <div class="row criteria">
    <div class="col-6 criterion" data-content="{{ 'No, nobody is working' if cafe.criterion.vibe == 'low' else 'Yes, some people are working' if cafe.criterion.vibe == 'medium' else 'Definitely, almost everyone is working!' if cafe.criterion.vibe == 'high' else 'Unknown' }}" data-template="<div class='popover medium-border' role='tooltip'><div class='arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-original-title="Is it common to see other people working?">
    <i class="fa fa-fw fa-laptop"></i>
    People working
    <div class="progress">
    <div class="progress-bar {{cafe.criterion.vibe}}">
    <span class="sr-only">{{cafe.criterion.vibe| title}}</span>
    </div>
    </div>
    </div>
    <div class="col-6 criterion" data-content="{{ 'No' if cafe.criterion.groups == 'low' else 'Yes' if cafe.criterion.groups == 'medium' else 'Definitely! There\'s also a big community table!' if cafe.criterion.groups == 'high' else 'Unknown' }}" data-template="<div class='popover medium-border' role='tooltip'><div class='arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-original-title="Are there group tables (for 6+ people)?">
    <i class="fa fa-fw fa-users"></i>
    Group tables
    <div class="progress">
    <div class="progress-bar {{cafe.criterion.groups}}">
    <span class="sr-only">{{cafe.criterion.groups| title}}</span>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    <hr>
    <div class="row">
    <div class="col-md-4">
    <h2>Service</h2>
    </div>
    <div class="col-md-8">
    <div class="row criteria">
    <div class="col-6 criterion" data-content="{{ 'No' if cafe.criterion.coffee == 'low' else 'Yes, but average quality' if cafe.criterion.coffee == 'medium' else 'Yes, and it\'s of high quality!' if cafe.criterion.coffee == 'high' else 'Unknown' }}" data-template="<div class='popover high-border' role='tooltip'><div class='arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-original-title="Is coffee available?">
    <i class="fa fa-fw fa-coffee"></i>
    Coffee
    <div class="progress">
    <div class="progress-bar {{cafe.criterion.coffee}}">
    <span class="sr-only">H{{cafe.criterion.coffee| title}}</span>
    </div>
    </div>
    </div>
    <div class="col-6 criterion" data-content="{{ 'No' if cafe.criterion.food == 'low' else 'Only snacks, pastries, or salads' if cafe.criterion.food == 'medium' else 'Definitely, proper meals!' if cafe.criterion.food == 'high' else 'Unknown' }}" data-template="<div class='popover high-border' role='tooltip'><div class='arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-original-title="Is food offered?">
    <i class="fa fa-fw fa-utensils"></i>
    Food
    <div class="progress">
    <div class="progress-bar {{cafe.criterion.food}}">
    <span class="sr-only">{{cafe.criterion.food| title}}</span>
    </div>
    </div>
    </div>
    <div class="col-6 criterion" data-content="{{ 'No' if cafe.criterion.veggie == 'low' else 'Yes, but limited' if cafe.criterion.veggie == 'medium' else 'Definitely, with great veggie meals!' if cafe.criterion.veggie == 'high' else 'Unknown' }}" data-template="<div class='popover high-border' role='tooltip'><div class='arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-original-title="Are there veggie options?">
    <i class="fa fa-fw fa-leaf"></i>
    Veggie
    <div class="progress">
    <div class="progress-bar {{cafe.criterion.veggie}}">
    <span class="sr-only">{{cafe.criterion.veggie| title}}</span>
    </div>
    </div>
    </div>
    <div class="col-6 criterion" data-content="{{ 'No' if cafe.criterion.alcohol == 'low' else 'Only a small selection (Beers, wines, ciders)' if cafe.criterion.alcohol == 'medium' else 'Definitely, a wide selection (Liquors, cocktails, etc.)' if cafe.criterion.alcohol == 'high' else 'Unknown' }}" data-template="<div class='popover medium-border' role='tooltip'><div class='arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-original-title="Is alcohol offered?">
    <i class="fa fa-fw fa-glass-martini"></i>
    Alcohol
    <div class="progress">
    <div class="progress-bar {{cafe.criterion.alcohol}}">
    <span class="sr-only">{{cafe.criterion.alcohol| title}}</span>
    </div>
    </div>
    </div>
    <div class="col-6 criterion" data-content="{{ 'No' if cafe.criterion.credit_cards == 'low' else 'Only some cards or amounts' if cafe.criterion.credit_cards == 'medium' else 'Definitely!' if cafe.criterion.credit_cards == 'high' else 'Unknown' }}" data-template="<div class='popover high-border' role='tooltip'><div class='arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-original-title="Are credit cards accepted?">
    <i class="fa fa-fw fa-credit-card"></i>
    Credit cards
    <div class="progress">
    <div class="progress-bar {{cafe.criterion.credit_cards}}">
    <span class="sr-only">{{cafe.criterion.credit_cards| title}}</span>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    <hr>
    <div class="row">
    <div class="col-md-4">
    <h2>Space</h2>
    </div>
    <div class="col-md-8">
    <div class="row criteria">
    <div class="col-6 criterion" data-content="{{ 'No' if cafe.criterion.light == 'low' else 'So-so / Only some areas' if cafe.criterion.light == 'medium' else 'Definitely!' if cafe.criterion.light == 'high' else 'Unknown' }}" data-template="<div class='popover high-border' role='tooltip'><div class='arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-original-title="Is the space full of natural light?">
    <i class="fa fa-fw fa-sun"></i>
    Natural light
    <div class="progress">
    <div class="progress-bar {{cafe.criterion.light}}">
    <span class="sr-only">{{cafe.criterion.light| title}}</span>
    </div>
    </div>
    </div>
    <div class="col-6 criterion" data-content="{{ 'No' if cafe.criterion.outdoor == 'low' else 'Yes, but without power sockets' if cafe.criterion.outdoor == 'medium' else 'Yes, with outdoor power sockets available too!' if cafe.criterion.outdoor == 'high' else 'Unknown' }}" data-template="<div class='popover medium-border' role='tooltip'><div class='arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-original-title="Is there an outdoor area? (Assuming nice weather.)">
    <i class="fa fa-fw fa-tree"></i>
    Outdoor area
    <div class="progress">
    <div class="progress-bar {{cafe.criterion.outdoor}}">
    <span class="sr-only">{{cafe.criterion.outdoor| title}}</span>
    </div>
    </div>
    </div>
    <div class="col-6 criterion" data-content="{{ 'It\'s small (less than 10 tables)' if cafe.criterion.spacious == 'low' else 'It\'s medium (between 10 and 30 tables)' if cafe.criterion.spacious == 'medium' else 'It\'s large (more than 30 tables)' if cafe.criterion.spacious == 'high' else 'Unknown' }}" data-template="<div class='popover medium-border' role='tooltip'><div class='arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-original-title="How large is the place?">
    <i class="fa fa-fw fa-arrows-alt"></i>
    Spacious
    <div class="progress">
    <div class="progress-bar {{cafe.criterion.spacious}}">
    <span class="sr-only">{{cafe.criterion.spacious| title}}</span>
    </div>
    </div>
    </div>
    <div class="col-6 criterion" data-content="{{ 'No' if cafe.criterion.toilets == 'low' else 'Yes, but far away, dirty, or inconvenient' if cafe.criterion.toilets == 'medium' else 'Definitely, it\'s clean and easily accessible!' if cafe.criterion.toilets == 'high' else 'Unknown' }}" data-template="<div class='popover high-border' role='tooltip'><div class='arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-original-title="Is there a restroom?">
    <i class="fa fa-fw fa-toilet-paper"></i>
    Restroom
    <div class="progress">
    <div class="progress-bar {{cafe.criterion.toilets}}">
    <span class="sr-only">{{cafe.criterion.toilets| title}}</span>
    </div>
    </div>
    </div>
    <div class="col-6 criterion" data-content="{{ 'No' if cafe.criterion.access == 'low' else 'So-so' if cafe.criterion.access == 'medium' else 'Definitely!' if cafe.criterion.access == 'high' else 'Unknown' }}" data-template="<div class='popover low-border' role='tooltip'><div class='arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-original-title="Is it easily accessible with a wheelchair?">
    <i class="fa fa-fw fa-wheelchair"></i>
    Accessible
    <div class="progress">
    <div class="progress-bar {{cafe.criterion.access}}">
    <span class="sr-only">{{cafe.criterion.access| title}}</span>
    </div>
    </div>
    </div>
    <div class="col-6 criterion" data-content="{{ 'No' if cafe.criterion.ac == 'low' else 'Only a small area (less than half of the tables)' if cafe.criterion.ac == 'medium' else 'Definitely, most or all areas are air conditioned!' if cafe.criterion.ac == 'high' else 'Unknown' }}" data-template="<div class='popover high-border' role='tooltip'><div class='arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-original-title="Is the place air conditioned?">
    <i class="fa fa-fw fa-thermometer-half"></i>
    Air conditioned
    <div class="progress">
    <div class="progress-bar {{cafe.criterion.ac}}">
    <span class="sr-only">{{cafe.criterion.ac| title}}</span>
    </div>
    </div>
    </div>
    <div class="col-6 criterion" data-content="{{ 'No' if cafe.criterion.pets == 'low' else 'Only some areas (e.g. outdoors)' if cafe.criterion.pets == 'medium' else 'Definitely!' if cafe.criterion.pets == 'high' else 'Unknown' }}" data-template="<div class='popover high-border' role='tooltip'><div class='arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-original-title="Is it pet friendly?">
    <i class="fa fa-fw fa-dog"></i>
    Pet friendly
    <div class="progress">
    <div class="progress-bar {{cafe.criterion.pets}}">
    <span class="sr-only">{{cafe.criterion.pets| title}}</span>
    </div>
    </div>
    </div>
    <div class="col-6 criterion" data-content="{{ 'No' if cafe.criterion.parking == 'low' else 'There\'s street parking nearby' if cafe.criterion.parking == 'medium' else 'There\'s a dedicated parking!' if cafe.criterion.parking == 'high' else 'Unknown' }}" data-template="<div class='popover medium-border' role='tooltip'><div class='arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-original-title="Is there a parking space?">
    <i class="fa fa-fw fa-car"></i>
    Parking
    <div class="progress">
    <div class="progress-bar {{cafe.criterion.parking}}">
    <span class="sr-only">{{cafe.criterion.parking| title}}</span>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    </div>
    <!-- Right side -->
    <div class="col-md-5">
    <hr class="d-block d-md-none">
    <!-- Do you like working from here? -->
    <div id="rate-productivity">
    <p class="text-center" style="margin-bottom: 0.7rem;">Do you like working from here?</p>
    <div class="row justify-content-center text-center">
    <div class="col-3" data-content="It's uncomfortable for work" data-template="<div class='popover low-border' role='tooltip'><div class='arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" aria-label="No" data-bs-original-title="No">
    <a class="red" href="{{ url_for('i_like_it', location_slug=location_slug,cafe_slug=cafe_slug,like_score='low',id=id) }}"><i class="fa fa-heart-broken fa-3x"></i>
    </a></div>
    <div class="col-3" data-content="I got some work done" data-template="<div class='popover medium-border' role='tooltip'><div class='arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" aria-label="Yes" data-bs-original-title="Yes">
    <a class="yellow" href="{{ url_for('i_like_it', location_slug=location_slug,cafe_slug=cafe_slug,like_score='medium',id=id) }}"><i class="fa fa-heart fa-3x"></i>
    </a></div>
    <div class="col-3" data-content="I feel very productive here!" data-template="<div class='popover high-border' role='tooltip'><div class='arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" aria-label="Definitely!" data-bs-original-title="Definitely!">
    <a class="green" href="{{ url_for('i_like_it', location_slug=location_slug,cafe_slug=cafe_slug,like_score='high',id=id) }}"><i class="fa fa-heart fa-3x"></i>
    </a></div>
    </div>
    </div>
    <hr>
    <div id="information">
    <!-- Hours -->
    <div class="row no-gutters">
    <div class="col-2 text-center">
    <i class="far fa-fw fa-clock"></i>
    </div>
    <div class="col-10">
    {% for day, time in cafe.opening_hours.items() %}
            <div class="row no-gutters">
                <div class="col-2">
                    {% if day == current_day %}
                        <strong>{{ day }}</strong>
                    {% else %}
                        {{ day }}
                    {% endif %}
                </div>
                <div class="col">
                    {% if day == current_day %}
                        <strong>{{ time }}</strong>
                    {% else %}
                        {{ time }}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
    <br>
    <!-- Location -->
    <div class="row no-gutters">
    <div class="col-2 text-center">
    <i class="fa fa-fw fa-map-marker-alt"></i>
    </div>
    <div class="col-10">
    <a class="text-link" target="_blank" href="{{cafe.map_url}}">{% if cafe.postal_code in cafe.address %}{{ cafe.address }}{% else %}{{ cafe.address }}, {{ cafe.postal_code }}{% endif %}</a>
    </div>
    </div>
    <br>
    <!-- Website -->
    <!-- Facebook -->
    <!-- Instagram -->
    </div>
    <hr>
    <!-- Missing or incorrect information? -->
    <div class="report">
    <p>Missing or incorrect information?</p>
    <div class="row justify-content-center">
    <div class="col-5 col-sm-6 col-lg-5">
    <a class="btn btn-sm btn-default btn-block" href="{{ url_for('edit', cafe_name_slugged=cafe_slug, location_slug=location_slug, id=id) }}"><i class="fa fa-fw fa-edit"></i>
    Update page
    </a></div>
    <div class="col-5 col-sm-6 col-lg-5">
    <a class="btn btn-sm btn-default btn-block" href="/london/arancina/toggle_closed"><i class="far fa-fw fa-flag"></i>
    Report closed
    </a></div>
    </div>
    </div>
    </div>
    </div>
    <!-- CTA for City page -->
    <hr>
    <a class="text-link" href="{{url_for('show_location',location_slug=location_slug)}}"><i class="fa fa-fw fa-caret-left"></i>
    Explore more work-friendly places in {{cafe.borough}}!
    </a></div>
    </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Initialize Popovers
            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl);
            });
    
            // Change icons to 'fa-edit' when hovering over popover-triggering elements
            var criterionElements = document.querySelectorAll('.criterion');
    
            criterionElements.forEach(function(element) {
                var icon = element.querySelector('.fa-fw');

                if (element.getAttribute('data-content') === "Unknown") {
                    // Find the .fa-fw element within this .criterion
                    var icon = element.querySelector('.fa-fw');
                    if (icon) {
                        // Change the class to "fa fa-fw fa-question"
                        icon.className = 'fa fa-fw fa-question';
                    }
                }

                element.addEventListener('click', function() {
                    var url = "{{ url_for('edit', cafe_name_slugged='__slug__', location_slug='__location_slug__', id=id) }}"
                    .replace('__slug__', "{{cafe_slug}}")
                    .replace('__location_slug__',"{{location_slug}}")
                    console.log(url)
                    window.location.href = url;
                });
            
                element.addEventListener('mouseover', function() {
                    // Store original class
                    icon.dataset.originalClass = icon.className;
                    // Replace the specific icon class with 'fa-edit'
                    icon.className = 'fa fa-fw fa-edit';
                });
    
                element.addEventListener('mouseout', function() {
                    // Restore the original class
                    icon.className = icon.dataset.originalClass;
                });
            });

            // Rating buttons
            const scoreIcon = document.querySelector('#score i');
            const rateElements = document.querySelectorAll('#rate-productivity a');
            const value = "{{cafe.criterion.i_like_it}}";
            console.log(value);

            rateElements.forEach(element => {
                const icon = element.querySelector('i');
                const heartColor = element.className.split(' ')[0];

                // Automatically highlight the button corresponding to our data
                if (
                    (value === 'low' && element.classList.contains('red')) ||
                    (value === 'medium' && element.classList.contains('yellow')) ||
                    (value === 'high' && element.classList.contains('green'))
                ) {
                    element.classList.add('selected');
                    scoreIcon.className = `${icon.className} ${heartColor}`;
                    element.checked = true;
                } else {
                    element.classList.remove('selected');
                    element.checked = false;
                }

                // Allow button to be unselected
                if (element.classList.contains('selected')) {
                    element.href = "{{ url_for('i_like_it', location_slug=location_slug, cafe_slug=cafe_slug, like_score='unknown', id=id) }}";
                }

                // Highlight the heart in the score (top-left of page) automatically
                icon.addEventListener('mouseenter', function () {
                    scoreIcon.className = `${icon.className} ${heartColor}`;
                });

                icon.addEventListener('mouseleave', function () {
                    scoreIcon.className = 'grey far fa-heart';
                });
            });


        // Score color and link
        const scoreElement = document.querySelector('#score');
        const scoreValue = parseInt("{{cafe.score}}");

        if (scoreValue >= 0 && scoreValue < 50) {
            scoreElement.className = 'red';
        } else if (scoreValue >= 50 && scoreValue < 80) {
            scoreElement.className = 'yellow';
        } else if (scoreValue >= 80) {
            scoreElement.className = 'green';
        }

        scoreElement.addEventListener('click', function(){
            var url = "{{ url_for('edit', cafe_name_slugged='__slug__', location_slug='__location_slug__', id=id) }}"
            .replace('__slug__', "{{cafe_slug}}")
            .replace('__location_slug__',"{{location_slug}}")
            console.log(url)
            window.location.href = url;
        });

        });
      </script>
      
{% include "footer.html" %}