{% include "header.html" %}

<div id="place">
    <!-- Header -->
    <header id="place-photos">
    <img alt={{cafe.name}} src={{cafe.img_url}}>
    <div class="gradient">
    <div class="container">
    <!-- #star -->
    <!-- = link_to city_place_toggle_favorites_path(@place.city, @place), class: is_favorite(@place), method: :put do -->
    <!-- %i.fa.fa-star.fa-3x -->
    <div id="title">
        <div class="green" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-content="I have not been here yet" data-bs-template="<div class='popover high-border' role='tooltip'><div class='popover-arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" id="score" data-bs-original-title="In general, do you like working from here?">
            <i class="grey far fa-heart" data-color="grey"></i> | 96% Laptop Friendly
          </div>         
    <h1>{{cafe.name}}</h1>
    </div>
    </div>
    <a id="google-maps-link" title="Open Google Maps" target="_blank" href="https://www.google.com/maps/search/?api=1&amp;query=Arancina 19 Pembridge Road, W11 3HGLondon&amp;query_place_id=ChIJTztnhPwPdkgR1p8WV1NSu3g"><i class="fas fa-map fa-2x"></i>
    </a></div>
    </header>
    <!-- Place details -->
    <section id="details">
    <div class="container">
    <div class="row">
    <div class="col-md-7">
    <!-- Description -->
    <div id="description">
    <h2 class="pb-2">Today</h2>
    <div class="row">
    <div class="col-4">
    <p class="mt-1">
    <i class="fas fa-users"></i>
    Visits:
    2
    <br>
    <i class="fas fa-camera"></i>
    Vibes:
    0
    </p>
    </div>
    <div class="col-8">
    <div class="latest-vibes vibesbox text-end">
    <a class="btn btn-success" style="margin: 0.5rem" href="/vibes/new?city=london&amp;place=arancina">📸</a>
    </div>
    </div>
    </div>
    <script type="text/javascript">
    var lightbox = new SimpleLightbox('.vibesbox a', { overlayColor: 0.9, captionsData: 'titleLightbox' })
    </script>
    
    
    <div class="row" id="been-here">
    <div class="col-md-4 col-lg-3">
    <h2>Been here</h2>
    </div>
    <div class="col-md-8 col-lg-9">
    <div class="criteria">
    <span data-content="Friendly Co-Worker" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" aria-label="Michele Mortari" data-bs-original-title="Michele Mortari">
    <img class="img-circle" src="/static/assets/3346-michele.jpg">
    </span>
    </div>
    </div>
    </div>
    <hr>
    
    <h2>Reviews</h2>
    <a class="btn btn-success leave_review" href="/users/login">Join and leave a review!</a>
    
    <div class="all_reviews">
    <hr>
    <div class="new_review_place">
    <a class="btn btn-success leave_review" href="/users/login">Join and leave a review!</a>
    
    </div>
    </div>
    <a class="black-link see_less_reviews" href="#"><i class="fa fa-fw fa-caret-up"></i>
    See less reviews
    </a></div>
    <hr>
    <div class="row">
    <div class="col-md-4">
    <h2>Productivity</h2>
    </div>
    <div class="col-md-8">
    <div class="row criteria">
    <div class="col-6 criterion" data-content="Definitely, it's very reliable!" data-template="<div class='popover high-border' role='tooltip'><div class='arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-original-title="Is there Wi-Fi?">
    <i class="fa fa-fw fa-wifi"></i>
    Stable Wi-Fi
    <div class="progress">
    <div class="progress-bar high">
    <span class="sr-only">High</span>
    </div>
    </div>
    </div>
    <div class="col-6 criterion" data-content="Definitely! (> 50% of seats have power sockets)" data-template="<div class='popover high-border' role='tooltip'><div class='arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-original-title="Is it easy to find power sockets?">
    <i class="fa fa-fw fa-plug"></i>
    Power sockets
    <div class="progress">
    <div class="progress-bar high">
    <span class="sr-only">High</span>
    </div>
    </div>
    </div>
    <div class="col-6 criterion" data-content="I can stay as long as I want!" data-template="<div class='popover high-border' role='tooltip'><div class='arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-original-title="How long can you comfortably stay and work? ">
    <i class="fa fa-fw fa-user-clock"></i>
    Long stays
    <div class="progress">
    <div class="progress-bar high">
    <span class="sr-only">High</span>
    </div>
    </div>
    </div>
    <div class="col-6 criterion" data-content="All tables and chairs are work-friendly!" data-template="<div class='popover high-border' role='tooltip'><div class='arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-original-title="Are tables and chairs comfortable for work?">
    <i class="fa fa-fw fa-pen-square"></i>
    Work-friendly tables
    <div class="progress">
    <div class="progress-bar high">
    <span class="sr-only">High</span>
    </div>
    </div>
    </div>
    <div class="col-6 criterion" data-content="Definitely!" data-template="<div class='popover high-border' role='tooltip'><div class='arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-original-title="Is it quiet?">
    <i class="fa fa-fw fa-volume-down"></i>
    Quiet
    <div class="progress">
    <div class="progress-bar high">
    <span class="sr-only">High</span>
    </div>
    </div>
    </div>
    <div class="col-6 criterion" data-content="Definitely!" data-template="<div class='popover high-border' role='tooltip'><div class='arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-original-title="Can you comfortably make audio/video calls?">
    <i class="fa fa-fw fa-headset"></i>
    Video/audio calls
    <div class="progress">
    <div class="progress-bar high">
    <span class="sr-only">High</span>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    <hr>
    <div class="row">
    <div class="col-md-4">
    <h2>Community</h2>
    </div>
    <div class="col-md-8">
    <div class="row criteria">
    <div class="col-6 criterion" data-content="Yes, some people are working" data-template="<div class='popover medium-border' role='tooltip'><div class='arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-original-title="Is it common to see other people working?">
    <i class="fa fa-fw fa-laptop"></i>
    People working
    <div class="progress">
    <div class="progress-bar medium">
    <span class="sr-only">Medium</span>
    </div>
    </div>
    </div>
    <div class="col-6 criterion" data-content="Yes" data-template="<div class='popover medium-border' role='tooltip'><div class='arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-original-title="Are there group tables (for 6+ people)?">
    <i class="fa fa-fw fa-users"></i>
    Group tables
    <div class="progress">
    <div class="progress-bar medium">
    <span class="sr-only">Medium</span>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    <hr>
    <div class="row">
    <div class="col-md-4">
    <h2>Service</h2>
    </div>
    <div class="col-md-8">
    <div class="row criteria">
    <div class="col-6 criterion" data-content="Yes, and it's of high quality!" data-template="<div class='popover high-border' role='tooltip'><div class='arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-original-title="Is coffee available?">
    <i class="fa fa-fw fa-coffee"></i>
    Coffee
    <div class="progress">
    <div class="progress-bar high">
    <span class="sr-only">High</span>
    </div>
    </div>
    </div>
    <div class="col-6 criterion" data-content="Definitely, proper meals!" data-template="<div class='popover high-border' role='tooltip'><div class='arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-original-title="Is food offered?">
    <i class="fa fa-fw fa-utensils"></i>
    Food
    <div class="progress">
    <div class="progress-bar high">
    <span class="sr-only">High</span>
    </div>
    </div>
    </div>
    <div class="col-6 criterion" data-content="Definitely, with great veggie meals!" data-template="<div class='popover high-border' role='tooltip'><div class='arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-original-title="Are there veggie options?">
    <i class="fa fa-fw fa-leaf"></i>
    Veggie
    <div class="progress">
    <div class="progress-bar high">
    <span class="sr-only">High</span>
    </div>
    </div>
    </div>
    <div class="col-6 criterion" data-content="Only a small selection (Beers, wines, ciders)" data-template="<div class='popover medium-border' role='tooltip'><div class='arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-original-title="Is alcohol offered?">
    <i class="fa fa-fw fa-glass-martini"></i>
    Alcohol
    <div class="progress">
    <div class="progress-bar medium">
    <span class="sr-only">Medium</span>
    </div>
    </div>
    </div>
    <div class="col-6 criterion" data-content="Definitely!" data-template="<div class='popover high-border' role='tooltip'><div class='arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-original-title="Are credit cards accepted?">
    <i class="fa fa-fw fa-credit-card"></i>
    Credit cards
    <div class="progress">
    <div class="progress-bar high">
    <span class="sr-only">High</span>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    <hr>
    <div class="row">
    <div class="col-md-4">
    <h2>Space</h2>
    </div>
    <div class="col-md-8">
    <div class="row criteria">
    <div class="col-6 criterion" data-content="Definitely!" data-template="<div class='popover high-border' role='tooltip'><div class='arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-original-title="Is the space full of natural light?">
    <i class="fa fa-fw fa-sun"></i>
    Natural light
    <div class="progress">
    <div class="progress-bar high">
    <span class="sr-only">High</span>
    </div>
    </div>
    </div>
    <div class="col-6 criterion" data-content="Yes, but without power sockets" data-template="<div class='popover medium-border' role='tooltip'><div class='arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-original-title="Is there an outdoor area? (Assuming nice weather.)">
    <i class="fa fa-fw fa-tree"></i>
    Outdoor area
    <div class="progress">
    <div class="progress-bar medium">
    <span class="sr-only">Medium</span>
    </div>
    </div>
    </div>
    <div class="col-6 criterion" data-content="It's medium (between 10 and 30 tables)" data-template="<div class='popover medium-border' role='tooltip'><div class='arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-original-title="How large is the place?">
    <i class="fa fa-fw fa-arrows-alt"></i>
    Spacious
    <div class="progress">
    <div class="progress-bar medium">
    <span class="sr-only">Medium</span>
    </div>
    </div>
    </div>
    <div class="col-6 criterion" data-content="Definitely, it's clean and easily accessible!" data-template="<div class='popover high-border' role='tooltip'><div class='arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-original-title="Is there a restroom?">
    <i class="fa fa-fw fa-toilet-paper"></i>
    Restroom
    <div class="progress">
    <div class="progress-bar high">
    <span class="sr-only">High</span>
    </div>
    </div>
    </div>
    <div class="col-6 criterion" data-content="No" data-template="<div class='popover low-border' role='tooltip'><div class='arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-original-title="Is it easily accessible with a wheelchair?">
    <i class="fa fa-fw fa-wheelchair"></i>
    <s>Accessible</s>
    <div class="progress">
    <div class="progress-bar low">
    <span class="sr-only">Low</span>
    </div>
    </div>
    </div>
    <div class="col-6 criterion" data-content="Definitely, most or all areas are air conditioned!" data-template="<div class='popover high-border' role='tooltip'><div class='arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-original-title="Is the place air conditioned?">
    <i class="fa fa-fw fa-thermometer-half"></i>
    Air conditioned
    <div class="progress">
    <div class="progress-bar high">
    <span class="sr-only">High</span>
    </div>
    </div>
    </div>
    <div class="col-6 criterion" data-content="Definitely!" data-template="<div class='popover high-border' role='tooltip'><div class='arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-original-title="Is it pet friendly?">
    <i class="fa fa-fw fa-dog"></i>
    Pet friendly
    <div class="progress">
    <div class="progress-bar high">
    <span class="sr-only">High</span>
    </div>
    </div>
    </div>
    <div class="col-6 criterion" data-content="There's street parking nearby" data-template="<div class='popover medium-border' role='tooltip'><div class='arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-original-title="Is there a parking space?">
    <i class="fa fa-fw fa-car"></i>
    Parking
    <div class="progress">
    <div class="progress-bar medium">
    <span class="sr-only">Medium</span>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    </div>
    <!-- Right side -->
    <div class="col-md-5">
    <hr class="d-block d-md-none">
    <!-- Do you like working from here? -->
    <div id="rate-productivity">
    <p class="text-center" style="margin-bottom: 0.7rem;">Do you like working from here?</p>
    <div class="row justify-content-center text-center">
    <div class="col-3" data-content="It's uncomfortable for work" data-template="<div class='popover low-border' role='tooltip'><div class='arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" aria-label="No" data-bs-original-title="No">
    <a class="red" href="/london/arancina/i_like_it?score=1"><i class="fa fa-heart-broken fa-3x"></i>
    </a></div>
    <div class="col-3" data-content="I got some work done" data-template="<div class='popover medium-border' role='tooltip'><div class='arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" aria-label="Yes" data-bs-original-title="Yes">
    <a class="yellow" href="/london/arancina/i_like_it?score=2"><i class="fa fa-heart fa-3x"></i>
    </a></div>
    <div class="col-3" data-content="I feel very productive here!" data-template="<div class='popover high-border' role='tooltip'><div class='arrow'></div><div class='popover-header'></div><div class='popover-body'></div></div>" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" aria-label="Definitely!" data-bs-original-title="Definitely!">
    <a class="green selected" href="/london/arancina/i_like_it?score=3"><i class="fa fa-heart fa-3x"></i>
    </a></div>
    </div>
    </div>
    <hr>
    <div id="information">
    <!-- Hours -->
    <div class="row no-gutters">
    <div class="col-2 text-center">
    <i class="far fa-fw fa-clock"></i>
    </div>
    <div class="col-10">
    <div class="row no-gutters"><div class="col-2">Mon</div><div class="col">12:00 – 22:30</div></div><div class="row no-gutters"><div class="col-2">Tue</div><div class="col">12:00 – 22:30</div></div><div class="row no-gutters strong"><div class="col-2">Wed</div><div class="col">12:00 – 22:30</div></div><div class="row no-gutters"><div class="col-2">Thu</div><div class="col">12:00 – 22:30</div></div><div class="row no-gutters"><div class="col-2">Fri</div><div class="col">11:00 – 23:00</div></div><div class="row no-gutters"><div class="col-2">Sat</div><div class="col">11:00 – 23:00</div></div><div class="row no-gutters"><div class="col-2">Sun</div><div class="col">11:00 – 22:30</div></div>
    </div>
    </div>
    <br>
    <!-- Location -->
    <div class="row no-gutters">
    <div class="col-2 text-center">
    <i class="fa fa-fw fa-map-marker-alt"></i>
    </div>
    <div class="col-10">
    <a class="text-link" target="_blank" href="https://www.google.com/maps/search/?api=1&amp;query=Arancina 19 Pembridge Road, W11 3HGLondon&amp;query_place_id=ChIJTztnhPwPdkgR1p8WV1NSu3g">19 Pembridge Road, W11 3HG, London</a>
    </div>
    </div>
    <br>
    <!-- Website -->
    <!-- Facebook -->
    <!-- Instagram -->
    </div>
    <hr>
    <!-- Missing or incorrect information? -->
    <div class="report">
    <p>Missing or incorrect information?</p>
    <div class="row justify-content-center">
    <div class="col-5 col-sm-6 col-lg-5">
    <a class="btn btn-sm btn-default btn-block" href="/london/arancina/edit"><i class="fa fa-fw fa-edit"></i>
    Update page
    </a></div>
    <div class="col-5 col-sm-6 col-lg-5">
    <a class="btn btn-sm btn-default btn-block" href="/london/arancina/toggle_closed"><i class="far fa-fw fa-flag"></i>
    Report closed
    </a></div>
    </div>
    </div>
    </div>
    </div>
    <!-- CTA for City page -->
    <hr>
    <a class="text-link" href="/london"><i class="fa fa-fw fa-caret-left"></i>
    Explore more work-friendly places in London!
    </a></div>
    </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Initialize Popovers
            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl);
            });
    
            // Change icons to 'fa-edit' when hovering over popover-triggering elements
            var criterionElements = document.querySelectorAll('.criterion');
    
            criterionElements.forEach(function(element) {
                var icon = element.querySelector('.fa-fw');
    
                element.addEventListener('mouseover', function() {
                    // Store original class
                    icon.dataset.originalClass = icon.className;
                    // Replace the specific icon class with 'fa-edit'
                    icon.className = 'fa fa-fw fa-edit';
                });
    
                element.addEventListener('mouseout', function() {
                    // Restore the original class
                    icon.className = icon.dataset.originalClass;
                });
            });
        });
      </script>
      
{% include "footer.html" %}