{% include "header.html" %}

    <section class="hero">
            <h1>Discover and Share the Best Cafes in London!</h1>
            <a href="{{ url_for('suggest') }}"><button>Suggest Cafe</button></a>
        </section>

        <!-- Search Cafes by Boroughs? -->
        <section class="explore-boroughs" style="padding: 5rem 0; margin-bottom: -1.5em;">
            <h2>Explore Cafes by Borough</h2>
            <p>Click on a borough to find the best cafes in the area.</p>
            <a href="{{ url_for('show_all_locations') }}"><button>Explore Boroughs</button></a>
        </section>
        <!-- Featured Cafes -->
        <section class="featured-cafes">
            <h2>Top Rated Cafes</h2>
            <div class="cafe-list">
{% for cafe in top_cafes %}
<a class="cafe-item" href="{{ url_for('show_cafe', cafe_id=cafe.id) }}">
    <img alt="{{ cafe.name }}" src="{{ cafe.img_url }}" class="img-fluid">
    <h3>{{ cafe.name }}</h3>
    <div class="score" data-score="{{cafe.score}}">{{cafe.score}}% Rating</div>
    <div class="ratings">
    {% if cafe.criterion.wifi != 'unknown' %}
        <div class="rating-item">
            <span class="rating-label"><i class="fa fa-fw fa-wifi"></i> Wifi:</span>
            <span class="rating-bar {% if cafe.criterion.wifi == 'high' %}rating-high{% elif cafe.criterion.wifi == 'medium' %}rating-medium{% elif cafe.criterion.wifi == 'low' %}rating-low{% endif %}"></span>
        </div>
        {%endif%}
        {% if cafe.criterion.sockets != 'unknown' %}
        <div class="rating-item">
            <span class="rating-label"><i class="fa fa-fw fa-plug"></i> Sockets:</span>
            <span class="rating-bar {% if cafe.criterion.sockets == 'high' %}rating-high{% elif cafe.criterion.sockets == 'medium' %}rating-medium{% elif cafe.criterion.sockets == 'low' %}rating-low{% endif %}"></span>
        </div>
        {%endif%}
        {% if cafe.criterion.coffee != 'unknown' %}
        <div class="rating-item">
            <span class="rating-label"><i class="fa fa-fw fa-coffee"></i> Coffee:</span>
            <span class="rating-bar {% if cafe.criterion.coffee == 'high' %}rating-high{% elif cafe.criterion.coffee == 'medium' %}rating-medium{% elif cafe.criterion.coffee == 'low' %}rating-low{% endif %}"></span>
        </div>
        {%endif%}
    </div>
    </a>

{% endfor %}

                </div>
                <!-- Add more cafe items here -->
            </div>
        </section>
        {# <!-- Community Reviews -->
       <section class="community-reviews">
            <h2>Community Reviews</h2>
            <div class="carousel">
                <div class="review-item">
                    <p>"Cafe Latte has the best coffee and the wifi is super fast!"</p>
                    <span>- Alice, Camden</span>
                </div>
                <div class="review-item">
                    <p>"Brew & Beans is my go-to place for working remotely. Love it!"</p>
                    <span>- John, Kensington</span>
                </div>
                <!-- Add more review items here -->
            </div>
        </section> #}
        <!-- Sign up-->
        <section class="cta">
            <h2>Join Our Community</h2>
            <p>Sign up, suggest cafes, and leave reviews!</p>
            <a href="{{ url_for('users') }}"><button>Sign Up</button></a>
        </section>
<script>
document.addEventListener('DOMContentLoaded', function() {
    // Score color
    const scoreElements = document.querySelectorAll('.score');

    scoreElements.forEach(element => {
        const scoreValue = parseInt(element.dataset.score);

        if (scoreValue >= 0 && scoreValue < 50) {
            element.className = 'red score';
        } else if (scoreValue >= 50 && scoreValue < 80) {
            element.className = 'yellow score';
        } else if (scoreValue >= 80) {
            element.className = 'green score';
        }
    });
});
</script>
{% include "footer.html" %}