{% include "header.html" %}
<div id="login-register">
<div class="container">
<div class="row text-center">
<h1 class="w-100 p-3">

Register
</h1>
<div class="col-md-4 offset-md-4">
<div id="social">
<p>Continue with</p>
<a class="btn btn-lg btn-default btn-block" href="/users/auth/google_oauth2">Google</a>
<br>
<p>or fill in the form</p>
</div>
<form class="new_user" id="new_user" action="{{ url_for('register') }}" accept-charset="UTF-8" method="POST"><input type="hidden" name="authenticity_token" value="QLvIBFP9NxlAkzsK18mH5FCGsOONfsYY7awUtwi4QAVfFUAPMg1uoVv0VMO0CBup9Gry2a65LD70W8cv27IYMQ" autocomplete="off"><!-- = devise_error_messages! -->
<!-- # = devise_resource.errors[:email].first if devise_resource.errors[:email].present? -->
<div class="form-group row">
<div class="col-6">
<input autofocus="autofocus" placeholder="Name" class="form-control" type="text" name="user[name]" id="user_name">
</div>
<div class="col-6">
<input placeholder="Surname" class="form-control" type="text" name="user[surname]" id="user_surname">
</div>
</div>
<div class="form-group">
<select class="form-control" name="user[city_id]" id="user_city_id"><option value="870"> Le Havre</option>
<option value="843">'s-Hertogenbosch</option>
<option value="39">- Under Review -</option>
<option value="726">Aachen</option>
<option value="663">Aarhus</option>
<option value="355">Abingdon</option>
<option value="712">Abu Dhabi</option>
<option value="517">Accra</option>
<option value="463">Addis Ababa</option>
<option value="135">Adelaide</option>
<option value="552">Ado Ekiti</option>
<option value="679">Agualva-Cacém</option>
<option value="505">Ahmedabad</option>
<option value="467">Aix-en-Provence</option>
<option value="645">Ajman</option>
<option value="363">Ajmer</option>
<option value="530">Al Wafrah</option>
<option value="757">Alameda</option>
<option value="574">Alanya</option>
<option value="438">Albufeira</option>
<option value="522">Albuquerque</option>
<option value="731">Alexandria (Virginia)</option>
<option value="511">Alicante</option>
<option value="269">Almada</option>
<option value="590">Almaty</option>
<option value="197">Amadora</option>
<option value="744">Amarante</option>
<option value="617">Amman</option>
<option value="67">Amsterdam</option>
<option value="509">Anchorage</option>
<option value="370">Ankara</option>
<option value="392">Antalya</option>
<option value="209">Antwerp</option>
<option value="545">Aqaba</option>
<option value="397">Aranđelovac</option>
<option value="779">Arlington</option>
<option value="307">Arnhem</option>
<option value="700">Arosa</option>
<option value="650">Ashbourne</option>
<option value="581">Ashburn</option>
<option value="697">Assam</option>
<option value="43">Athens</option>
<option value="255">Atlanta</option>
<option value="632">Auckland</option>
<option value="142">Austin</option>
<option value="122">Aveiro</option>
<option value="219">Aviles</option>
<option value="881">Ayutthaya</option>
<option value="86">Bacalar</option>
<option value="507">Baguio</option>
<option value="762">Baku</option>
<option value="749">Bamako</option>
<option value="814">Bang Sare</option>
<option value="805">Bangi</option>
<option value="110">Bangkok</option>
<option value="215">Banja Luka</option>
<option value="451">Bansko</option>
<option value="48">Barcelona</option>
<option value="600">Bari</option>
<option value="89">Barranco</option>
<option value="601">Barreiro</option>
<option value="898">Basel</option>
<option value="311">Basingstoke</option>
<option value="234">Bath</option>
<option value="217">Bayonne</option>
<option value="618">Bedford</option>
<option value="62">Beirut</option>
<option value="750">Bekasi</option>
<option value="4">Belgrade</option>
<option value="266">Belo Horizonte</option>
<option value="139">Bengaluru</option>
<option value="493">Berat</option>
<option value="510">Berkeley</option>
<option value="1">Berlin</option>
<option value="383">Bhopal</option>
<option value="472">Białystok</option>
<option value="218">Bilbao</option>
<option value="707">Billericay</option>
<option value="136">Birmingham</option>
<option value="380">Bishkek</option>
<option value="674">Bishopston</option>
<option value="747">Bitola</option>
<option value="544">Bloemfontein</option>
<option value="754">Bo</option>
<option value="54">Bogotá</option>
<option value="565">Bologna</option>
<option value="857">Bonn</option>
<option value="622">Boston</option>
<option value="738">Boulder</option>
<option value="745">Boumerdès</option>
<option value="572">Bournemouth</option>
<option value="729">Bradford</option>
<option value="185">Braga</option>
<option value="120">Brasília</option>
<option value="309">Bratislava</option>
<option value="87">Brașov</option>
<option value="356">Breda</option>
<option value="313">Bremen</option>
<option value="310">Brentwood</option>
<option value="19">Brighton</option>
<option value="55">Bristol</option>
<option value="351">Brno</option>
<option value="853">Broomfield</option>
<option value="460">Brussels</option>
<option value="38">Bucharest</option>
<option value="61">Budapest</option>
<option value="221">Buenos Aires</option>
<option value="808">Bukit Mertajam</option>
<option value="885">Bulawayo</option>
<option value="389">Burbank</option>
<option value="633">Burgas</option>
<option value="570">Bursa</option>
<option value="672">Busan</option>
<option value="540">Butha Buthe</option>
<option value="263">Bydgoszcz</option>
<option value="501">Cairns</option>
<option value="777">Cairo</option>
<option value="839">Caldas de Vizela</option>
<option value="140">Calgary</option>
<option value="72">Cambridge</option>
<option value="508">Canberra</option>
<option value="715">Cancun</option>
<option value="303">Cangas de Onís</option>
<option value="609">Canggu</option>
<option value="337">Caniço</option>
<option value="732">Cannes</option>
<option value="437">Cape Town</option>
<option value="230">Cardiff</option>
<option value="63">Cartagena (Colombia)</option>
<option value="705">Cary</option>
<option value="364">Casablanca</option>
<option value="495">Cascais</option>
<option value="475">Catania</option>
<option value="193">Catonsville</option>
<option value="829">Cebu</option>
<option value="165">Centennial</option>
<option value="771">Central Valley</option>
<option value="713">Cha-am</option>
<option value="783">Champaign</option>
<option value="400">Chandigarh</option>
<option value="646">Chania</option>
<option value="610">Charlotte</option>
<option value="710">Chatham</option>
<option value="556">Cheboksary</option>
<option value="324">Cheltenham</option>
<option value="442">Chennai</option>
<option value="686">Cheongju</option>
<option value="147">Chernihiv</option>
<option value="706">Chester</option>
<option value="569">Chesterfield</option>
<option value="214">Chiang Mai</option>
<option value="628">Chiba</option>
<option value="183">Chicago</option>
<option value="718">Chilliwack</option>
<option value="182">Chișinău</option>
<option value="203">Chuo City</option>
<option value="659">Cincinnati</option>
<option value="153">City of London</option>
<option value="592">Ciudad del Este</option>
<option value="360">Cleveland</option>
<option value="461">Cluj-Napoca</option>
<option value="526">Coarsegold</option>
<option value="184">Coimbra</option>
<option value="271">Colares</option>
<option value="852">Colchester</option>
<option value="368">Cologne</option>
<option value="372">Colorado Springs</option>
<option value="735">Coolum Beach</option>
<option value="16">Copenhagen</option>
<option value="312">Corroios</option>
<option value="492">Costa da Caparica</option>
<option value="524">Coventry</option>
<option value="798">Curitiba</option>
<option value="809">Cyberjaya</option>
<option value="866">Cần Thơ</option>
<option value="551">Da Nang</option>
<option value="243">Dallas</option>
<option value="342">Darien</option>
<option value="477">Darmstadt</option>
<option value="792">Datça</option>
<option value="604">Delft</option>
<option value="441">Delhi</option>
<option value="335">Deltona</option>
<option value="673">Deming</option>
<option value="444">Denpasar</option>
<option value="162">Denver</option>
<option value="562">Detroit</option>
<option value="681">Dhaka</option>
<option value="850">Didcot</option>
<option value="377">Dnipro</option>
<option value="670">Dodoma</option>
<option value="856">Dollar</option>
<option value="813">Dombivli</option>
<option value="470">Donostia</option>
<option value="873">Dorchester</option>
<option value="496">Dordrecht</option>
<option value="386">Dosquebradas</option>
<option value="458">Downingtown</option>
<option value="692">Drama</option>
<option value="298">Dresden</option>
<option value="567">Druskininkai</option>
<option value="396">Dubai</option>
<option value="45">Dublin</option>
<option value="789">Dublin (East Bay)</option>
<option value="872">Dundee</option>
<option value="820">Dunedin</option>
<option value="596">Dunstable</option>
<option value="537">Durban</option>
<option value="687">Durham</option>
<option value="834">Durrës</option>
<option value="766">Dushanbe</option>
<option value="101">Düsseldorf</option>
<option value="748">East Albury</option>
<option value="348">East Brookfield</option>
<option value="51">Edinburgh</option>
<option value="660">Edwardsville</option>
<option value="680">Eindhoven</option>
<option value="577">Enschede</option>
<option value="272">Epping</option>
<option value="587">Erbil</option>
<option value="284">Ericeira</option>
<option value="223">Esch-sur-Alzette</option>
<option value="304">Estella</option>
<option value="647">Etterbeek</option>
<option value="860">Exeter</option>
<option value="593">Fafe</option>
<option value="146">Falkensee</option>
<option value="677">Fargo</option>
<option value="277">Farnham</option>
<option value="270">Faro</option>
<option value="739">Feldkirchen in Kärnten</option>
<option value="786">Ferrara</option>
<option value="543">Ferrel</option>
<option value="82">Fes</option>
<option value="612">Flensburg</option>
<option value="296">Florence</option>
<option value="865">Florham Park</option>
<option value="499">Florianópolis</option>
<option value="837">Forsyth</option>
<option value="125">Fort Myers</option>
<option value="625">Fort Wayne</option>
<option value="717">Fortaleza</option>
<option value="533">Foso</option>
<option value="157">Frankfurt</option>
<option value="741">Freetown</option>
<option value="385">Freiburg im Breisgau</option>
<option value="435">Fremont</option>
<option value="186">Frielas</option>
<option value="642">Fukuoka</option>
<option value="790">Gainesville</option>
<option value="742">Garden Grove</option>
<option value="232">Gateshead</option>
<option value="575">Gaya</option>
<option value="722">Gaziantep</option>
<option value="753">Gdańsk</option>
<option value="636">Gdynia</option>
<option value="379">Gebze</option>
<option value="817">General Luna</option>
<option value="106">Geneva</option>
<option value="382">Gent</option>
<option value="384">Girne</option>
<option value="393">Glasgow</option>
<option value="163">Glendale</option>
<option value="844">Glenorchy</option>
<option value="306">Gloucester</option>
<option value="450">Goiânia</option>
<option value="95">Gothenburg</option>
<option value="181">Gouda</option>
<option value="254">Graz</option>
<option value="41">Great Torrington</option>
<option value="446">Greenford</option>
<option value="275">Groningen</option>
<option value="258">Guadalajara</option>
<option value="283">Guarda</option>
<option value="882">Guelph</option>
<option value="144">Guildford</option>
<option value="594">Guimarães</option>
<option value="583">Gulf Shores</option>
<option value="359">Gurugram</option>
<option value="889">Gwalior</option>
<option value="56">Hague</option>
<option value="695">Halifax</option>
<option value="874">Halle</option>
<option value="349">Hamburg</option>
<option value="743">Hamilton</option>
<option value="703">Hannover</option>
<option value="154">Hanoi</option>
<option value="831">Haslemere</option>
<option value="316">Hasselt</option>
<option value="235">Hastings</option>
<option value="816">Hat Yai</option>
<option value="66">Havana</option>
<option value="716">Hayward</option>
<option value="447">Helsinki</option>
<option value="251">Henderson</option>
<option value="226">Hermanus</option>
<option value="643">Hiroshima</option>
<option value="228">Ho Chi Minh City</option>
<option value="611">Hoddesdon</option>
<option value="638">Holbox</option>
<option value="111">Hong Kong</option>
<option value="321">Houston</option>
<option value="236">Hove</option>
<option value="614">Huddersfield</option>
<option value="464">Iași</option>
<option value="626">Ibadan</option>
<option value="694">Incheon</option>
<option value="576">Indianapolis</option>
<option value="145">Indore</option>
<option value="295">Ingolstadt</option>
<option value="448">Iraklio</option>
<option value="810">Irving</option>
<option value="893">Isparta</option>
<option value="60">Istanbul</option>
<option value="867">Itaberaba</option>
<option value="775">Izmir</option>
<option value="684">Jaco</option>
<option value="584">Jakarta</option>
<option value="449">Jaroslaw</option>
<option value="676">Jeonju</option>
<option value="858">Jersey</option>
<option value="624">Jessheim</option>
<option value="294">Jinja</option>
<option value="838">Jodhpur</option>
<option value="108">Johannesburg</option>
<option value="811">Johor Bahru</option>
<option value="682">João Pessoa</option>
<option value="395">Juneau</option>
<option value="668">Jūrmala</option>
<option value="806">Kajang</option>
<option value="623">Kamloops</option>
<option value="293">Kampala</option>
<option value="366">Kampot</option>
<option value="247">Kansas City</option>
<option value="724">Kaohsiung City</option>
<option value="394">Karachi</option>
<option value="367">Karditsa</option>
<option value="559">Karlsruhe</option>
<option value="818">Kathmandu</option>
<option value="723">Katni</option>
<option value="675">Katowice</option>
<option value="554">Kaunas</option>
<option value="387">Kaş</option>
<option value="755">Kenema</option>
<option value="573">Kennesaw</option>
<option value="795">Ki Lek</option>
<option value="473">Kiel</option>
<option value="350">Kikinda</option>
<option value="849">Kildare</option>
<option value="519">Kimberley</option>
<option value="300">Kingston upon Thames</option>
<option value="698">Kinshasa</option>
<option value="252">Kirov</option>
<option value="174">Kisumu</option>
<option value="88">Ko Pha-Ngan</option>
<option value="99">Ko Samui</option>
<option value="302">Ko Tao</option>
<option value="375">Korçë</option>
<option value="529">Kota Bharu</option>
<option value="721">Kotor</option>
<option value="708">Kragujevac</option>
<option value="133">Kraków</option>
<option value="454">Krong Kampot</option>
<option value="229">Kuala Lumpur</option>
<option value="482">Kuwait City</option>
<option value="194">Kyiv</option>
<option value="222">Kyoto</option>
<option value="631">Kırşehir</option>
<option value="564">L'Île-Perrot</option>
<option value="616">La Paz</option>
<option value="479">Lagoa</option>
<option value="527">Lagos</option>
<option value="699">Lalitpur</option>
<option value="242">Landau</option>
<option value="737">Langkawi</option>
<option value="568">Las Palmas</option>
<option value="250">Las Vegas</option>
<option value="714">Lausanne</option>
<option value="648">Lawrence</option>
<option value="308">Le Pouliguen</option>
<option value="155">Leeds</option>
<option value="884">Leek</option>
<option value="709">Leicester</option>
<option value="192">Leiden</option>
<option value="325">Leipzig</option>
<option value="301">Leiria</option>
<option value="285">Lelystad</option>
<option value="746">Leskovac</option>
<option value="340">Leuven</option>
<option value="800">León</option>
<option value="352">Lille</option>
<option value="71">Lima</option>
<option value="143">Limerick</option>
<option value="190">Linda-a-Velha</option>
<option value="28">Lisbon</option>
<option value="894">Liskeard</option>
<option value="768">Liverpool</option>
<option value="227">Ljubljana</option>
<option value="299">Lochinver</option>
<option value="859">Logan</option>
<option value="776">Lomé</option>
<option value="2">London</option>
<option value="649">London (Ontario)</option>
<option value="471">Los Angeles</option>
<option value="566">Los Gatos</option>
<option value="704">Lowell</option>
<option value="357">Lucknow</option>
<option value="756">Luohe</option>
<option value="191">Luton</option>
<option value="297">Luxembourg</option>
<option value="841">Maastricht</option>
<option value="662">Macclesfield</option>
<option value="196">Machico</option>
<option value="487">Madhapur</option>
<option value="49">Madrid</option>
<option value="457">Maharashtra</option>
<option value="158">Mainz</option>
<option value="896">Malang</option>
<option value="388">Maldon</option>
<option value="170">Malmö</option>
<option value="615">Malta</option>
<option value="634">Managua</option>
<option value="845">Manali</option>
<option value="886">Manama</option>
<option value="128">Manavgat</option>
<option value="494">Manchester</option>
<option value="683">Manila</option>
<option value="439">Manisa</option>
<option value="102">Manly</option>
<option value="491">Mannheim</option>
<option value="848">Mansfield</option>
<option value="534">Maputsoe</option>
<option value="627">Mar del Plata</option>
<option value="855">Marrakech</option>
<option value="466">Marseille</option>
<option value="137">Martínez</option>
<option value="516">Maseru</option>
<option value="506">Mashpee</option>
<option value="763">Maynard</option>
<option value="532">Mazatlán</option>
<option value="453">Medan</option>
<option value="53">Medellin</option>
<option value="897">Mediaș</option>
<option value="329">Melbourne</option>
<option value="160">Meljak</option>
<option value="547">Menlo Park</option>
<option value="784">Mersin</option>
<option value="69">Mexico City</option>
<option value="237">Miami</option>
<option value="781">Mielec</option>
<option value="548">Milan</option>
<option value="791">Milano</option>
<option value="785">Millbrae</option>
<option value="459">Millom</option>
<option value="630">Milton Keynes</option>
<option value="846">Milwaukee</option>
<option value="207">Minato City</option>
<option value="328">Minnesota</option>
<option value="541">Mississauga</option>
<option value="657">Missoula</option>
<option value="546">Mogadishu</option>
<option value="536">Mohale's Hoek</option>
<option value="518">Mohales Hoek</option>
<option value="665">Molfetta</option>
<option value="172">Mombasa</option>
<option value="787">Monterey</option>
<option value="282">Montevideo</option>
<option value="148">Montreal</option>
<option value="273">Moreira</option>
<option value="542">Morija</option>
<option value="819">Moroni</option>
<option value="323">Moscow</option>
<option value="253">Mostar</option>
<option value="456">Mount Gambier</option>
<option value="126">Mountain View</option>
<option value="287">Mumbai</option>
<option value="205">Munich</option>
<option value="117">Murcia</option>
<option value="345">Murfreesboro</option>
<option value="327">Mysuru</option>
<option value="761">Málaga</option>
<option value="847">Mũi Né</option>
<option value="465">Nagpur</option>
<option value="173">Nairobi</option>
<option value="875">Nantes</option>
<option value="504">Nashville</option>
<option value="131">Nevşehir</option>
<option value="701">New Haven</option>
<option value="177">New York</option>
<option value="178">Newcastle </option>
<option value="268">Newcastle upon Tyne</option>
<option value="262">Newry</option>
<option value="879">Niigata</option>
<option value="880">Niigata</option>
<option value="578">Nijkerk</option>
<option value="371">Nijmegen</option>
<option value="653">Niwot</option>
<option value="68">Niš</option>
<option value="549">Nong Kae</option>
<option value="734">Noosa Heads</option>
<option value="443">Norfolk</option>
<option value="240">North Kuta</option>
<option value="685">Norwich</option>
<option value="654">Nottingham</option>
<option value="8">Novi Sad</option>
<option value="736">Nürnberg</option>
<option value="560">Oakland</option>
<option value="179">Oakwood</option>
<option value="290">Obrenovac</option>
<option value="764">Odense</option>
<option value="561">Odesa</option>
<option value="796">Oegstgeest</option>
<option value="891">Oeiras</option>
<option value="199">Ohrid</option>
<option value="362">Oklahoma City</option>
<option value="189">Oliveira do Bairro</option>
<option value="213">Olivet</option>
<option value="401">Olsztyn</option>
<option value="637">Omaha</option>
<option value="588">Oosterhout</option>
<option value="288">Orlando</option>
<option value="224">Orléans</option>
<option value="198">Osaka</option>
<option value="130">Oslo</option>
<option value="621">Ostrava</option>
<option value="720">Otaru</option>
<option value="138">Otopeni</option>
<option value="655">Ottawa</option>
<option value="78">Oxford</option>
<option value="538">Oyster Bay</option>
<option value="488">Pa Tong</option>
<option value="833">Padova</option>
<option value="502">Pai</option>
<option value="134">Palma</option>
<option value="257">Panglao</option>
<option value="70">Paracas</option>
<option value="249">Paradise</option>
<option value="772">Parede</option>
<option value="121">Paris</option>
<option value="440">Patras</option>
<option value="824">Pattaya</option>
<option value="589">Pembroke Pines</option>
<option value="774">Penang</option>
<option value="434">Perth</option>
<option value="169">Petaling Jaya</option>
<option value="276">Philadelphia</option>
<option value="231">Phnom Penh</option>
<option value="531">Phoenix</option>
<option value="334">Pijnacker</option>
<option value="490">Pitești</option>
<option value="550">Pittsburgh</option>
<option value="338">Playa del Carmen</option>
<option value="42">Plovdiv</option>
<option value="591">Plymouth</option>
<option value="514">Podgorica</option>
<option value="156">Poole</option>
<option value="187">Portimão</option>
<option value="378">Portland</option>
<option value="85">Porto</option>
<option value="613">Porto Alegre</option>
<option value="641">Portsmouth</option>
<option value="608">Potsdam</option>
<option value="265">Povoa de Varzim</option>
<option value="332">Poznań</option>
<option value="132">Prague</option>
<option value="119">Preston</option>
<option value="539">Pretoria</option>
<option value="826">Prešov</option>
<option value="661">Prince Edward</option>
<option value="344">Providence</option>
<option value="807">Puchong</option>
<option value="267">Puebla</option>
<option value="365">Pune</option>
<option value="794">Punjab</option>
<option value="100">Rabat</option>
<option value="812">Rajasthan</option>
<option value="585">Raleigh</option>
<option value="280">Ravenna</option>
<option value="751">Rawai</option>
<option value="445">Reading</option>
<option value="595">Recife</option>
<option value="175">Reston</option>
<option value="782">Rexburg</option>
<option value="728">Reykjavík</option>
<option value="887">Ribeirao Preto</option>
<option value="512">Richmond</option>
<option value="515">Richmond - NC</option>
<option value="65">Riga</option>
<option value="241">Rijeka</option>
<option value="123">Rio de Janeiro</option>
<option value="346">Rochester</option>
<option value="474">Rome</option>
<option value="176">Rotterdam</option>
<option value="64">Rugby</option>
<option value="481">Ruma</option>
<option value="436">Ruse</option>
<option value="815">Sacramento</option>
<option value="278">Saint Leonards</option>
<option value="216">Saint-Gaudens</option>
<option value="892">Sal Island</option>
<option value="854">Salem</option>
<option value="503">Salt Lake City</option>
<option value="44">Salvador</option>
<option value="598">San Carlos de Bariloche</option>
<option value="719">San Diego</option>
<option value="260">San Francisco</option>
<option value="112">San Isidro</option>
<option value="59">San José</option>
<option value="877">San Juan</option>
<option value="127">San Mateo</option>
<option value="702">San Pedro Sula</option>
<option value="597">San Sebastian</option>
<option value="212">Sanem</option>
<option value="513">Santa Clara</option>
<option value="605">Santa Cruz</option>
<option value="606">Santa Cruz de Tenerife</option>
<option value="656">Santa Fe</option>
<option value="225">Santa Marta</option>
<option value="105">Santiago</option>
<option value="711">Santo Domingo</option>
<option value="696">Sapporo</option>
<option value="161">Sarajevo</option>
<option value="486">Saskatoon</option>
<option value="103">Sassari</option>
<option value="651">Scranton</option>
<option value="468">Seattle</option>
<option value="129">Seixal</option>
<option value="803">Semenyih</option>
<option value="691">Seogwipo</option>
<option value="553">Seoul</option>
<option value="773">Sesimbra</option>
<option value="208">Setagaya City</option>
<option value="73">Seville</option>
<option value="804">Shah Alam</option>
<option value="256">Shanghai</option>
<option value="52">Sheffield</option>
<option value="291">Shetland</option>
<option value="206">Shibuya City</option>
<option value="202">Shinjuku City</option>
<option value="343">Sibiu</option>
<option value="629">Siem Reap</option>
<option value="770">Sierpc</option>
<option value="171">Silver Spring</option>
<option value="788">Simpsonville</option>
<option value="188">Sines</option>
<option value="220">Singapore</option>
<option value="864">Skikda</option>
<option value="113">Skopje</option>
<option value="315">Skopje</option>
<option value="525">Skukuza</option>
<option value="317">Snyderville</option>
<option value="9">Sofia</option>
<option value="836">Sousse</option>
<option value="339">South Kuta</option>
<option value="603">Southampton</option>
<option value="210">Southend-on-Sea</option>
<option value="888">Spanish Fork</option>
<option value="292">Split</option>
<option value="318">Sremska Mitrovica</option>
<option value="376">St Petersburg</option>
<option value="489">St. Louis</option>
<option value="635">Stamford</option>
<option value="341">Stirling</option>
<option value="281">Stockholm</option>
<option value="862">Stockport</option>
<option value="883">Stoke-on-Trent</option>
<option value="690">Strasbourg</option>
<option value="619">Stroud</option>
<option value="678">Subang Jaya</option>
<option value="94">Subotica</option>
<option value="758">Suceava</option>
<option value="740">Sundbyberg</option>
<option value="586">Surat</option>
<option value="201">Swords</option>
<option value="320">Sydney</option>
<option value="689">Székesfehérvár</option>
<option value="98">São Paulo</option>
<option value="558">Tagbilaran City</option>
<option value="331">Taichung City</option>
<option value="233">Taipei</option>
<option value="398">Talat Nuea</option>
<option value="484">Talata Mafara</option>
<option value="27">Tallinn</option>
<option value="644">Tamano</option>
<option value="835">Tampere</option>
<option value="580">Tarija</option>
<option value="141">Tartu</option>
<option value="497">Tashkent</option>
<option value="828">Taytay</option>
<option value="391">Tbilisi</option>
<option value="239">Tegucigalpa</option>
<option value="151">Tel Aviv-Yafo</option>
<option value="868">Telangana</option>
<option value="652">Tempe</option>
<option value="520">Thaba-Tseka</option>
<option value="109">The Hague</option>
<option value="46">Thessaloniki</option>
<option value="821">Thonon-les-Bains</option>
<option value="778">Tilburg</option>
<option value="319">Timisoara</option>
<option value="571">Tirana</option>
<option value="204">Tokyo</option>
<option value="842">Toluca</option>
<option value="452">Tomar</option>
<option value="58">Toronto</option>
<option value="246">Torrevieja</option>
<option value="840">Towcester</option>
<option value="347">Toyama</option>
<option value="373">Trento</option>
<option value="83">Treviso</option>
<option value="264">Trofa</option>
<option value="832">Trondheim</option>
<option value="759">Tucson</option>
<option value="92">Tulum</option>
<option value="116">Turin</option>
<option value="476">Tuzla</option>
<option value="353">Twickenham</option>
<option value="238">Ubud</option>
<option value="863">Uherské Hradiště</option>
<option value="760">Ulaanbaatar</option>
<option value="245">University Park</option>
<option value="167">Utrecht</option>
<option value="47">Valencia</option>
<option value="639">Vallejo</option>
<option value="124">Vancouver</option>
<option value="871">Varna</option>
<option value="286">Veliko Tarnovo</option>
<option value="667">Ventspils</option>
<option value="563">Verdun</option>
<option value="793">Viborg</option>
<option value="21">Vienna</option>
<option value="261">Vientiane</option>
<option value="195">Vila Nova de Gaia</option>
<option value="180">Vilnius</option>
<option value="693">Vinohrady</option>
<option value="200">Viseu</option>
<option value="802">Vitoria-Gasteiz</option>
<option value="827">Vitória</option>
<option value="780">Volos</option>
<option value="57">Wageningen</option>
<option value="399">Wallingford</option>
<option value="10">Warsaw</option>
<option value="259">Washington</option>
<option value="799">Waterloo</option>
<option value="358">Wellington</option>
<option value="878">West Java</option>
<option value="664">West Stockbridge</option>
<option value="861">West Yellowstone</option>
<option value="523">Westbrook</option>
<option value="248">Westwood Hills</option>
<option value="166">White Rock</option>
<option value="876">Wiesbaden</option>
<option value="500">Winchester</option>
<option value="211">Winnipeg</option>
<option value="361">Woerden</option>
<option value="374">Wokingham</option>
<option value="354">Worcester</option>
<option value="688">Worthington</option>
<option value="305">Wrocław</option>
<option value="336">Yangon</option>
<option value="666">Yerevan</option>
<option value="485">Yogyakarta</option>
<option value="767">Yokohama</option>
<option value="557">York</option>
<option value="314">Yoshkar-Ola</option>
<option value="390">Zacatecas</option>
<option value="381">Zadar</option>
<option value="22">Zagreb</option>
<option value="274">Zapopan</option>
<option value="752">Zaragoza</option>
<option value="797">Zhangjiakou</option>
<option value="333">Zug</option>
<option value="725">Zwolle</option>
<option value="168">Zürich</option>
<option value="869">srinagar</option>
<option value="658">Ålesund</option>
<option value="469">Çorum</option>
<option value="769">Čačak</option>
<option value="159">İstanbul</option>
<option value="369">Łódź</option>
<option value="149">Šabac</option>
<option value="528">Żywiec</option>
<option value="727">Žabljak</option></select>
</div>
<div class="form-group">
<input placeholder="Email" class="form-control" type="email" value="" name="user[email]" id="user_email">
</div>
<div class="form-group">
<input placeholder="Password (8 characters minimum)" class="form-control" type="password" name="user[password]" id="user_password">
</div>
<div class="form-group">
<input placeholder="Confirm password" class="form-control" type="password" name="user[password_confirmation]" id="user_password_confirmation">
</div>
<div class="actions">
<input type="submit" name="commit" value="Register" class="btn btn-default" data-disable-with="Register">
</div>
</form><section>
Already a member?
<a href="{{ url_for('log_in') }}"><i class="fa fa-fw fa-caret-right"></i>Log in
</a></section>
</div>
</div>
</div>
</div>

{% include "footer.html" %}